<div class="input-field col s12">
    <label for="<%= nm %>"><%= lbl %></label><br>
    <textarea 
        name="<%= nm %>" 
        <% if (role === "addressdel") { %> readonly <% } %> 
        <% if (role === "addressedt") { %>  <% } %> 
        form="adeform"
        ><%= prefill[nm] %></textarea>
    <% if (role === "addressedt") { %>
        <textarea style="visibility:hidden;position:absolute;" name="o<%= nm %>" form="adeform"><%= prefill[nm] %></textarea>
    <% } %>
</div>
