
<% if (Array.isArray(items)) { 
  for (let item of items) { %>
    <a href="<%= item['url'] %>"> <%-'&#x1f516;'%><%= item['title'] %> </a>
  <% } 
  } else {
    Object.keys(items).forEach(function (sec, i) { %> 
      <h5> <%= sec %> </h5>
      <% if (Array.isArray(items[sec])) {
        for (let item1 of items[sec]) { %>
          <a href="<%= item1['url'] %>"> <%-'&#x1f516;'%><%= item1['title'] %> </a>
        <% } 
      } else { 
        Object.keys(items[sec]).forEach(function (subsec, i) { %> 
          <h6> <%= subsec %> </h6>
          <% if (Array.isArray(items[sec][subsec])) {
            for (let item2 of items[sec][subsec]) { %>
               <a href="<%= item2['url'] %>"> <%-'&#x1f516;'%><%= item2['title'] %> </a>
            <% } 
          } 
        }) 
      } 
    } 
  )}    %>  
        

