<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/music.ico">
    <style>
        body {
          background-color: #ffcc99;
          color: black;
        }
        h4 a { color: blue; }
        a { color: darkblue; }
    </style>
</head>

<body>
        <form action="<%= prefix %>/" method="get">
            <button type="submit" class="waves-effect waves-light submit-btn">
                Go back to MAIN
            </button>
        </form>
        <h2 class="header">Index</h2>
        <% Object.keys(myaml).forEach(function(k) { %>
          <h5><a href="#topsec_<%= encodeURI(k) %>"><%= k %></a></h4>
          <% }) %>
        <h2 class="header">Links</h2>
        <% Object.keys(myaml).forEach(function(topsec) { %>
          <h4 id="topsec_<%= encodeURI(topsec) %>"><%= topsec %></h3>
          <%- include('bookmarks-section', {level: 1, items: myaml[topsec]}) %>
        <% }); %>
</body>

</html>

