<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style", {}) %>
    <style scoped>
        body {
            background-color: lightskyblue;
            color: brown;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="shortcut icon" href="/music.ico">
</head>

<body>
    <div class="container">
        <form action="<%= prefix %>/" method="get">
            <button type="submit" class="entxt waves-effect waves-light submit-btn">
                Go back to MAIN
            </button>
        </form>
        <h1 class="header">Lists</h1>
        <form action="<%= prefix %>/newlist" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-field col s12">
                <label for="nlst" class="entxt">New list name:</label><br>
                <input type="text" class="entxt" name="nlst">
            </div>
            <div class="input-field col s12">
                <label for="fitm" class="entxt">First item:</label><br>
                <input type="text" class="entxt" name="fitm">
            </div>
            <button type="submit" class="entxt waves-effect waves-light submit-btn">New list</button>
        </form>
        <ul>
            <% lists.forEach(function(lst) { %>
            <li>
                <form action="<%= prefix %>/list" method="get">
                    <input type="hidden" name="lst" value="<%= lst['lst'] %>">
                    <button type="submit" class="entxt waves-effect waves-light submit-btn"><%= lst['lst'] %></button>
                </form>
            </li>
            <% }); %>
        </ul>
    </div>
</body>

</html>