<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/music.ico">
    <style>
        body {
          background-color: chocolate;
          color: white;
        }
        h4 a { color: blue; }
        a { color: black; }
    </style>
</head>

<body>
    <div class="container">
        <form action="<%= prefix %>/" method="get">
            <button type="submit" class="waves-effect waves-light submit-btn">
                Go back to MAIN
            </button>
        </form>
        <h1 class="header"><%= ttl %></h1>
        <h3 class="header">Index</h2>
        <% Object.keys(myaml).forEach(function(k) { %>
          <h4><a href="#genre_<%= encodeURI(k) %>"><%= k %></a></h4>
          <% myaml[k].forEach(function(c) { 
                 if (Object.keys(c).includes('composer') && Object.keys(c).includes('works')) { %>
                 • <a href="#composer_<%= encodeURI(c['composer']) %>"><%= c['composer'] %></a> 
                 <% } }) %>
          <% }) %>
        <h3 class="header">Links</h2>
        <ul>
            <% Object.keys(myaml).forEach(function(genre) { %>
            <li>
              <h3 id="genre_<%= encodeURI(genre) %>"><%= genre %> (<%= myaml[genre].length %>)</h3>
                <ul>
                    <% myaml[genre].forEach(function(c) { %>
                    <li>
                        <% if (Object.keys(c).includes('section') && Object.keys(c).includes('bookmarks')) { %>
                            <%- include('music-section', {s:c, ncols:ncols}) %>
                        <% } else if (Object.keys(c).includes('composer') && Object.keys(c).includes('works')) { %>
                            <tag id="composer_<%= encodeURI(c['composer']) %>"></tag>
                            <%- include('music-composer', {c:c, ncols:ncols}) %>
                        <% } else if (Object.keys(c).includes('url')) { %>
                            <%- include('music-bookmark', {b:c}) %>
                        <% } %>
                    </li>

                    <% }); %>
                </ul>
            </li>
            <% }); %>
        </ul>
    </div>
</body>

</html>
