<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="1800">
    <title>TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style", {}) %>
    <style scoped>
        body {
            background-color: lightskyblue;
            color: brown;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="shortcut icon" href="/music.ico">
</head>

<body>
    <div class="container">
        <form action="<%= prefix %>/" method="get">
            <button type="submit" class="entxt waves-effect waves-light submit-btn">
                Go back to MAIN
            </button>
        </form>
        <hr/>
        <h4 class="header">TODO</h4>
        <form action="<%= prefix %>/todoadd" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-field col s12">
                <label for="td" class="entxt">TODO:</label><br>
                <input type="text" class="entxt" name="td">
            </div>
            <div class="input-field col s12">
                <label for="nt" class="entxt">NOTE:</label><br>
                <textarea class="materialize-textarea" name="nt"></textarea>
            </div>
            <input type="hidden" class="entxt" name="im">
            <button type="submit"
                class="entxt waves-effect waves-light submit-btn">SUBMIT</button>
        </form>
        <hr/>
        <ul>
            <% rows.forEach(function(row) { %>
            <li>
                <div class="col s12 m4">
                    <div class="card green darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"><%= row['td'] %></span>
                            <% if (row['nt']) { %> <p class="text-of-note"> <%= row['nt'] %> </p> <% } %>
                        </div>
                        <div class="card-action">
                            <form action="<%= prefix %>/tododelete" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <% Object.keys(row).forEach(function(k) { %>
                                <input type="hidden" name="<%= k %>" value="<%= row[k] %>">
                                <% }) %>
                                <button type="submit"
                                    class="waves-effect waves-light delete-btn">DEL</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <% }); %>
        </ul>
        <table>
          <tr>
            <% urgent.forEach(function(loc) { %>
            <td>
              <form action="<%= prefix %>/timestamps" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="item" value="<%= loc['title'] %>">
                <input type="hidden" name="url" value="<%= loc['url'] %>">
                <% if (timestamps.hasOwnProperty(loc['title']) && hoursNow < timestamps[loc['title']] + interval) { %>
                  <button type="submit"><%= loc['title'] %></button>
                  <% } else { %>
                  <button type="submit" class="attention-btn"><%= loc['title'] %></button>
                <% } %>
              </form>
            </td>
            <% }); %>
          </tr>
        </table>
        <% if (ok) { %>
        <ul>
            <% Object.keys(myaml).forEach(function(sec) { %>
            <li>
                <h4><%= sec %></h4>
                  <% myaml[sec].forEach(function(lnk) { %>
                  &nbsp;&nbsp;⋄&nbsp;<a class="deep-orange lighten-5 brown-text text-darken-4" href="<%= lnk['url'] %>">&nbsp;<%= lnk['title'] %>&nbsp;</a>
                  <% }); %>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</body>

</html>
